@import url('https://fonts.googleapis.com/css?family=Dosis');

body {
    font-family: 'Play', sans-serif;
    font-size: 18px;
    background-color: #dbd6d4;
}

.input {
    font-family: 'Dosis', sans-serif;
    font-size: 18px;
    margin-top: 95px;
    background: #fbf9fc;
    padding: 25px;
}

ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: #aba7a6;
    opacity: 0.85;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #7a7776;
}

.active {
    background-color: #383737;
}

.menu {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

.button {
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
    color: white;
    background-color: #aba7a6;
    border-radius: 4px;
    text-decoration: none;
    margin-top: 20px;
    padding: 7px;
    opacity: 0.9;
}

.answers {
    font-family: 'Dosis', sans-serif;
    color: #383737;;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 30px;
}